/*body styling background and font familly style and widh/height/margin*/
body{
    background-color: black;
}
.container{
    background-color: #F0DBDB;
    font-family:'Roboto', sans-serif;
    width: 70%;
    height:50%;
    margin: auto 150px;
}
    
   /*classe img stayling*/
.img{
    width: 300px;
    border-radius: 50%;
    padding: 5px;
    display: inline;
    float:right;
}
/*navbar styling (ul li a) border and background and display and position and top width/height/color*/
.navbar ul {
   background-color: #BAD7E9;
   display:inline;
   position:fixed;
   margin: 0px 100px;
  }
  li {
    border-right: 1px solid #bbb;
    float: left;
    display:inline;
    margin: 5px 40px;
  }
  li:last-child {
    border-right: none;
  }
  a {
    padding: 5px;
    text-decoration:none
  }
 .rania{
    color:#B000B9;
   text-align:center;
   margin-top:10px;
   padding: 5px;
 }
 .rania h1{
    margin-bottom:1px;
 }
 h5{
    margin-top:1px;
    text-align:center;
 }
 h2{
    color:#227C70;
 }
